* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  width: auto;
  min-height: 100vh;
}
.main-container {
  position: relative;
}
/* container */
.container {
  padding: 30px 130px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 60px;
  height: 60px;
}

#cart {
  width: 85px;
  height: 60px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 13px 26px;
  border-radius: 7px;
}

.header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header ul li {
  margin: 0 45px;
  font-weight: 600;
  font-size: 15px;
  position: relative;
}

.header ul li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -5px;
  width: 40%;
  height: 4px;
  background-color: #e32b2b;
  border-radius: 5px;
}

/*text section start*/
.text-section {
  margin-top: 130px;
  width: 600px;
}
.text-section h1 {
  color: #484649;
  font-size: 52px;
  margin-bottom: -24px;
}

.text-section h2 {
  padding-top: 20px;
  padding-bottom: 12px;
  color: #e32b2b;
  -webkit-text-stroke: 0.8px black;
  font-weight: 500;
  font-size: 29px;
}

.text-section p {
  color: #737373;
  width: 380px;
  font-size: 13px;
  padding-bottom: 18px;
}

/*product price*/
.price-text {
  color: black;
  font-size: 22px;
  padding-bottom: 24px;
  font-weight: 500;
}

.price-text span {
  font-weight: 600;
}

/*product count section*/
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}
.number {
  display: flex;
  align-items: center;
  border: #e32b2b 2px solid;
  border-radius: 8px;
  padding: 7px 22px;
  font-weight: 600;
}

.number img {
  width: 12px;
  height: 8px;
  margin-left: 7px;
  margin-right: 10px;
  cursor: pointer;
}

.product-container button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
  background-color: #e32b2b;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.product-container button img {
  width: 15px;
  padding-right: 2px;
}

/*circle-animation start*/
.circle-container {
  position: absolute;
  top: 40%;
  right: 40%;
}

.lays-container {
  position: relative;
}

.lays-container img {
  position: absolute;
}

#lays {
  top: -100px;
  left: -20px;
  width: 380px;
  z-index: 2;
}

#chip {
  top: -160px;
  left: 190px;
  width: 150px;
  z-index: 1;
}
#sauce {
  left: 240px;
  top: 60px;
  width: 110px;
  z-index: 1;
}

#masala {
  left: 220px;
  bottom: -460px;
  width: 230px;
  z-index: 1;
}

#crab {
  right: -160px;
  bottom: -430px;
  width: 250px;
  z-index: 1;
}
#text-1 {
  right: -150px;
  bottom: -400px;
  width: 370px;
  height: 350px;
  z-index: 1;
}
#Tasty {
  right: -15px;
  bottom: -270px;
  width: 120px;
  z-index: 1;
}

#text-2 {
  right: -150px;
  top: -26px;
  width: 370px;
  height: 300px;
  z-index: 1;
}

#Crispy {
  right: 0px;
  top: 95px;
  width: 120px;
  z-index: 1;
}

#and {
  right: 10px;
  top: 165px;
  width: 90px;
  height: 45px;
  z-index: 1;
}
